
// fontes
$fonte: 'Roboto', sans-serif;

// colors
$cor-primaria: #495371;
$cor-secundaria: #74959a;
$cor-terciaria: #f1e0ac;
$cor-primaria-hover: #363f5b;
$cor-secundaria-hover: #74959a91;
$cor-terciaria-hover: #e3d0957e;

// tamanho das fontes
$tamanho-do-texto: 3rem;
